@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&family=Merriweather:wght@300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
}

/* Banner Styles */
.banner-container1 {
    background-position: 100%;
    padding-right: 30px;
    padding-left: 70px;
    padding-top: 40px;
    background-image: url(../resources/Banner\ Image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 1320px;
    max-width: 90%;
    height: 600px;
    margin: 50px auto;
    position: relative;
    border-radius: 16px;
    border: 2px solid saddlebrown;
}

.banner-text {
    border: 2px solid black;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
}

.banner-text>p {
    color: #FFF;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
}

.banner-text>h2 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}

/* OFF Section */
.off-section h2 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 110px;
}

.off-section h4 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 30px;
}

.off-section h3 {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 10px;
    margin-bottom: 48px;
}

.new-year {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    margin-bottom: 100px;
}

.midnight-party {
    background-image: url(../resources/Vectorrr.png);
    border: 5px solid rebeccapurple;
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
}

.party {
    border: 5px solid rebeccapurple;
    max-width: 50%;
    text-align: left;
    padding-left: 120px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.party h1 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
}

.party p {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.btn {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.party-img {
    border: 5px solid black;
    max-width: 50%;
}

.join-now {
    margin-top: 100px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    text-align: center;
    padding-bottom: 70px;
}

.join-container {
    padding-top: 80px;
    padding-bottom: 40px;
}

.join-span {
    color: #F00;
    /* text-align: center;
    text-align: center; */
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    /* 175% */
    text-transform: capitalize;
}

.join-now h3 {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.join-btn {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    text-transform: uppercase;
    border: none;
    background-color: #F00;
    padding: 20px 32px;
    cursor: pointer;
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
}

.coming-soon-container {
    border: 4px solid red;
    margin-top: 100px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    text-align: center;
    /* padding-bottom: 70px; */
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.best-offer {
    max-width: 30%;
    border: 1px solid black;
    text-align: left;
}

.circle-img {
    max-width: 40%;
    border: 15px solid red;
    align-items: center;
    padding: 20px;
    margin: auto;
    border-radius: 50%;
}

.left-offer {
    max-width: 30%;
    border: 1px solid black;
    text-align: left;
}

.best-offer h3 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    padding-top: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 15px;
}

.best-offer h1 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.best-offer p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    padding-top: 20px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.left-offer h2 {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.left-offer p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    padding-top: 16px;
    padding-bottom: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
}